# Python
__pycache__/
*.pyc
.venv/
venv/
.env
.env.*
# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
# Hugging Face / 캐시
cache/
huggingface/
AI/
# Key
app/core/hearday-4b26b1f78a13.json
hearday-api-key.json
*.json


# desc: 불필요한 캐시/환경파일(.env) 등 Git 추적 제외 목록 설정.
