fastapi
uvicorn[standard]
python-multipart
pydantic-settings
sqlalchemy
aiomysql
PyMySQL
asyncmy
transformers>=4.43.0
torch
accelerate
safetensors
sentencepiece
sentence-transformers
faiss-cpu
google-cloud-speech
google-cloud-texttospeech
numpy